.my-spacer {
    flex: 1 1 auto;
  }

  .menubar{
        display: flex;
        flex-direction: row;
        text-decoration:none;
        list-style: none;
  }

  .menu{
        align-items: flex-end;
        margin: 1em;
        padding: 3px;
        text-decoration:none;
        list-style: none;
        cursor: pointer;
        border-radius: .5%;
  }

  .menu:hover{
    align-items: flex-end;
    margin: 1em;
    padding: 3px;
    list-style: none;

    color:pink;
    background-color: purple;
    border-radius: 20%;
}